body {
    font-family: Arial, sans-serif;
}

.wraper {
    margin: 50px auto;;
    width: 500px;
}

.myself,
.why_frontend,
.contacts {
    border-bottom: 1px solid #c5c3c3;
}

h2 {
    color: #1f1f1f;
    font-size: 18px;
}

h1 {
    margin-bottom: 5px;
    font-size: 36px;
    text-align: center;
    color: #010101;
}

img {
    height: 100%;
    margin: 15px 175px 2px;
    border: 1px solid #8f8f8f;
}

.myself p {
    font-size: 14px;
    color: #1f1f1f;
    margin-bottom: 20px;
}

.why_frontend {
    margin: 17px 0 16px 0;
}

ul {
    margin: 22px 0 24px;
}

li {
    color: #3b3b3b;
    font-size: 14px;
}

.contacts  {
    margin-bottom: 16px;
}

.number {
    font-size: 14px;
}

.link-vk {
    margin: 21px 0 18px 34px;
}

a {
    font-size: 14px;
    font-style: italic;
    color: #0056d3;
}

.feedback p {
    font-size: 14px;
}

.contacts p,
.feedback p {
    margin-left: 36px;
}
